<div align="center" class="form-group">
    <label for="CourseID">CourseID</label>
    <input type="text" class="form-control" id="CourseID" placeholder="Enter CourseID" [required="string" ] data-ng-model="CourseID" />
    <label for="CourseName">CourseName</label>
    <input type="text" class="form-control" id="CourseName" placeholder="Enter CourseName" [required="string" ] data-ng-model="CourseName" />
    <label for="CourseFee">CourseFee</label>
    <input type="text" class="form-control" id="CourseFee" placeholder="Enter CourseFee" [required="string" ] data-ng-model="CourseFee" />
    <label for="Duration">Duration</label>
    <input type="text" class="form-control" id="Duration" placeholder="Enter Duration" [required="string" ] data-ng-model="Duration" />
</div>
<div align="center">
    <button type="button" class="btn btn-default" data-ng-click="saveCourse();">Submit</button>
</div>
