<div align="center" class="form-group">
    <label for="StudentID">StudentID</label>
    <input type="text" class="form-control" id="StudentID" placeholder="Enter StudentID" [required="string" ] data-ng-model="StudentID" />
    <label for="StudentName">StudentName</label>
    <input type="text" class="form-control" id="StudentName" placeholder="Enter StudentName" [required="string" ] data-ng-model="StudentName" />
    <label for="StudentSurname">StudentSurname</label>
    <input type="text" class="form-control" id="StudentSurname" placeholder="Enter StudentSurname" [required="string" ] data-ng-model="StudentSurname" />
    <label for="StudentUserName">StudentUserName</label>
    <input type="text" class="form-control" id="StudentUserName" placeholder="Enter StudentUserName" [required="string" ] data-ng-model="StudentUserName" />
    <label for="StudentPassword">StudentPassword</label>
    <input type="password" class="form-control" id="StudentPassword" placeholder="Enter StudentPassword" [required="string" ] data-ng-model="StudentPassword" />
    <label for="StudentEmail">StudentEmail</label>
    <input type="text" class="form-control" id="StudentEmail" placeholder="Enter StudentEmail" [required="string" ] data-ng-model="StudentEmail" />
    <label for="StudentAddress">StudentAddress</label>
    <input type="text" class="form-control" id="StudentAddress" placeholder="Enter StudentAddress" [required="string" ] data-ng-model="StudentAddress" />
    <label for="StudentContact">StudentContactNo</label>
    <input type="text" class="form-control" id="StudentContactNo" placeholder="Enter StudentContactNo" [required="string" ] data-ng-model="StudentContactNo" />
</div>
<div align="center">
    <button type="button" class="btn btn-default" data-ng-click="saveStudent();">Submit</button>
</div>