<table class="table table-striped table-bordered table-hover" align="center">
    <tr>
        <th>Course Start Time</th>
        <th>Course End Time</th>
        <th>Context</th>
    </tr>
    <tr>
        <td><input type="datetime-local" id="startTime" name="startTime"></td>
        <td><input type="datetime-local" id="endTime" name="endTime"></td>
        <td><input type="text" id="context" name="context"></td>
    </tr>
</table>

<button align="center" type="button" class="btn btn-default" data-ng-click="saveChanges()">Save Changes</button>